<h1>Burger Nom</h1>

<h1>Burgers to Nom</h1>

<div>
  {{#each burgers}}
    {{#unless devoured}}
      
      {{> burgers/burger-block devoured=true}}

    {{/unless}}
  {{/each}}
</div>

<h1>Burgers no More</h1>

<div>
  {{#each burgers}}
    {{#if devoured}}

      {{> burgers/burger-block devoured=false}}

    {{/if}}
  {{/each}}
</div>

<h2>Create a Burger</h2>
<form id="createburger">
  <input id="burg" type="text" name="burger"/>
  <button type="submit">Add Burger!</button>
</form>